
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-12" align="center">
				<img src="{$basedomain}assets/img/data/slideprofil.JPG"/>
			</div>

		</div>
	</div>
</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>
				<p align="justify">Elearning Atau Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
				<p align="justify">Materi Pemebeljarana dar Atau Pemebelajaran Lorem ipsum dolor sit amet, consectetur con sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, c sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
			</div>
			<div class="col-md-5" align="right">
				
				<img src="{$basedomain}assets/img/data/profil.JPG"/>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6">
				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>
				<p align="justify">Materi Pemebeljarana dar Atau Pemebelajaran Lorem ipsum dolor sit amet, consectetur con sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, c sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>
			</div>

			<div class="col-md-6">
				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>

				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>

				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>

				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>

				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>
			</div>

		</div>
	</div>
	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span style="border-radius:10px;padding:5px 10px;font-size:29px;background-color:#70BF46;color:#FFFFFF">DISTANCE LEARNING SYSTEM</span>
			</div>

		</div>
	</div>
	</section>
	<style>
	{literal}
		@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

		

		/* You can safely remove the next two lines */
		.top { padding-right: 20px; background: #261F41; text-align: right; }
		a { color: rgba(255,255,255,0.6); text-transform: uppercase; text-decoration: none; line-height: 42px; }

		h1 {padding: 100px 0; font-weight: 400; text-align: center;}
		p {margin: 0 0 20px; line-height: 1.5;}

		.main {margin: 0 auto; min-width: 320px; max-width: 100%;}
		.content {background: #fff; color: #373737;border:1px solid #E2E2E0;}
		.content > div {display: none; padding: 30px 35px 15px;}

		input {display: none;}
		label {display: inline-block; padding: 35px 25px;font-size: 20px; font-weight: 600; text-align: center;}
		label:hover {background: #6EC046; color: #fff; cursor: pointer;}
		input:checked + label {background: #6EC046; color: #fff;}

		#tab1:checked ~ .content #content1,
		#tab2:checked ~ .content #content2,
		#tab3:checked ~ .content #content3,
		#tab4:checked ~ .content #content4 {
		  display: block;
		}

		@media screen and (max-width: 400px) { label {padding: 15px 10px;} }
		{/literal}
		</style>

		

		<div class="main" style="background-color:#E4E7BE" align="center">
  
		  <input id="tab1" type="radio" name="tabs" checked>
		  <label for="tab1"><i class="fa fa-cogs fa-3x"></i><br/><br/>STANDARISASI</label>
	
		  <input id="tab2" type="radio" name="tabs">
		  <label for="tab2"><i class="fa fa-camera fa-3x"></i><br/><br/>SERTIFIKASI</label>
	
		  <input id="tab3" type="radio" name="tabs">
		  <label for="tab3"><i class="fa fa-search fa-3x"></i><br/><br/>AKREDITASI</label>
	
		  <input id="tab4" type="radio" name="tabs">
		  <label for="tab4"><i class="fa fa-list-alt fa-3x"></i><br/><br/>METROLOGI</label>
	
		  <div class="content">  
			  <div id="content1" align="left">
				<p>
				  New York – referred to as New York City or the City of New York to distinguish it from the State of New York, of which it is a part – is the most populous city in the United States and the center of the New York metropolitan area, the premier gateway for legal immigration to the United States and one of the most populous urban agglomerations in the world. A global power city, New York exerts a significant impact upon commerce, finance, media, art, fashion, research, technology, education, and entertainment.
				<p>
				  Home to the headquarters of the United Nations, New York is an important center for international diplomacy and has been described as the cultural and financial capital of the world.
				</p>
			  </div>
	
			  <div id="content2" align="left">
				<p>
				 London is the capital city of England and the United Kingdom. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants. Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.
				</p>
				<p>
				  London's ancient core, the City of London, largely retains its 1.12-square-mile (2.9 km2) mediaeval boundaries and in 2011 had a resident population of 7,375, making it the smallest city in England. Since at least the 19th century, the term London has also referred to the metropolis developed around this core.
				</p>
			  </div>
	
			  <div id="content3" align="left">
				<p>
				  Mumbai is the capital city of the Indian state of Maharashtra. It is the most populous city in India, most populous metropolitan area in India, and the eighth most populous city in the world, with an estimated city population of 18.4 million and metropolitan area population of 20.7 million as of 2011. Along with the urban areas, including the cities of Navi Mumbai, Thane, Bhiwandi, Kalyan, it is one of the most populous urban regions in the world.
				</p>
				<p>
				  Mumbai lies on the west coast of India and has a deep natural harbour. In 2009, Mumbai was named an alpha world city. It is also the wealthiest city in India, and has the highest GDP of any city in South, West or Central Asia.
				</p>
			  </div>
	
			  <div id="content4" align="left">
				<p>
				 Tokyo, officially Tokyo Metropolis, is one of the 47 prefectures of Japan. Tokyo is the capital of Japan, the center of the Greater Tokyo Area, and the most populous metropolitan area in the world. It is the seat of the Japanese government and the Imperial Palace, and the home of the Japanese Imperial Family.
				</p>
				<p>
				 Tokyo is in the Kantō region on the southeastern side of the main island Honshu and includes the Izu Islands and Ogasawara Islands. Tokyo Metropolis was formed in 1943 from the merger of the former Tokyo Prefecture and the city of Tokyo.
				</p>
			  </div>
		  </div>
	
		</div>