
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-12" align="center">
				<img src="{$basedomain}assets/img/data/slideprofil.JPG"/>
			</div>

		</div>
	</div>
</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>
				<p align="justify">Elearning Atau Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
				<p align="justify">Materi Pemebeljarana dar Atau Pemebelajaran Lorem ipsum dolor sit amet, consectetur con sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, c sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
			</div>
			<div class="col-md-5" align="right">
				
				<img src="{$basedomain}assets/img/data/profil.JPG"/>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6">
				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>
				<p align="justify">Materi Pemebeljarana dar Atau Pemebelajaran Lorem ipsum dolor sit amet, consectetur con sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, c sectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia </p>
				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>
			</div>

			<div class="col-md-6">
				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>

				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>

				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>

				<span style="font-size:27px">E-Learning Stamdarisassi dan Penilaian Kesesuaian</span><br/><br/>

				<p align="justify">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>
			</div>

		</div>
	</div>
	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span style="border-radius:10px;padding:5px 10px;font-size:29px;background-color:#70BF46;color:#FFFFFF">DISTANCE LEARNING SYSTEM</span>
			</div>

		</div>
	</div>
	</section>
<section id="featured" style="background-color:#E4E7BE;height:198px">

	<div class="container">
	     <div class="row">
	     	<div class="col-md-12" align="center">
				<img src="{$basedomain}assets/img/data/iconstandarisasi.JPG"/>
				<img src="{$basedomain}assets/img/data/iconsertifikasi.JPG"/>
				<img src="{$basedomain}assets/img/data/iconakreditasi.JPG"/>
				<img src="{$basedomain}assets/img/data/iconmetrologi.JPG"/>
	     	</div>
	     </div>
	</div>
	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-top:-50px;padding:30px 80px;border-radius:5px;border:2px solid #E2E2E0">
				<p align="justify" style="font-size:14px;">Setelah  Pemebelajaran Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing  adipiscing elit donec mer lacinia Lorem ipsum dolor sit amet, consectetur consectetur adipiscing elit donec mer lacinia. adipiscing elit donec mer laciniaamet, consectetur consectetur adipiscing</p>
			</div>

		</div>
	</div>
	</section>