
<html>
    <body>
        <div style="min-width:420px;max-width:600px;background-color:#eeeeee">
            <table width="100%" style="padding:20px 20px 20px 20px">
                <tbody>
                    <tr>
                        <td style="background-color:#ffffff;padding:10px 10px 10px 10px">
                            <table width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" valign="top"><h1 style="font-family:Arial;font-weight:normal;font-size:28px;color:#4688f1;line-height:32px">IBC | Incubator Business Center</h1></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Hello {$name},</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Your request for reset password have been successfull. You can use this reset password below for temporary use only.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="margin-left:30px;margin-bottom:10px">
                                                <img width="15" style="width:15px!important;min-height:18px!important" src="https://ci6.googleusercontent.com/proxy/jLcG66Y70cQed_0Gf6YWJBhKGcHI5wXBC8Cfmp2nIJrTo1dya9-KjQ7pwjwQdkW1mzs6aujCW3SwXAvHkK97goLzBPKnASGYa3ZCUwffdCi0=s0-d-e1-ft#https://privacy.google.com/images/email/icon_privacy_hr.png" class="CToWUd">
                                                <span style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px;margin-left:10px">Username : {$username}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="margin-left:30px">
                                                <a target="_blank" style="font-family:Arial;font-weight:normal;font-size:16px;color:#ffffff;text-decoration:none;white-space:nowrap;border-radius:3px;display:inline-block;text-align:center;padding-top:11px;padding-right:13px;padding-bottom:9px;padding-left:14px;background-color:#4285f4" href="{$basedomain}user/validate/?ref={$encode}">RESET MY ACCOUNT</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Please change this password immediately.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Sincerely,<br>Incubator Business Center Staff</p>
                                        </td>
                                    </tr>
                                </tbody>
                             </table>   
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="font-family:Arial;font-weight:normal;font-size:12px;color:#424242;line-height:16px;padding:10px 50px 20px 50px">
                You received this mandatory email service announcement to update you about important changes to IBC services or your IBC Account.
                <br style="margin-bottom:30px">
                Supported by Bhayanaka Digital & Trinata Teknologi, 2015
            </div>
        </div>
    </body>
</html>
