	<div id="container" class="cls-content">
		
		
		
		<!-- PASSWORD RESETTING FORM -->
		<!--===================================================-->
		<div class="cls-content">
			<div class="cls-content-sm panel">
				<div class="panel-body">
					<p class="pad-btm">Enter your email address to recover your password. </p>
					<form action="{$basedomain}user/resetpass" method="POST">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
								<input type="email" name="email" class="form-control" placeholder="Email" required>
							</div>
						</div>
						<div class="form-group text-right">
							<button class="btn btn-success text-uppercase" type="submit">Reset Password</button>
						</div>
					</form>
				</div>
			</div>
			<div class="pad-ver text-center">
				<a href="{$basedomain}user/login" class="btn-link mar-rgt">Back to Login</a>
			</div>
		</div>
		<!--===================================================-->
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->