<section id="featured">
     
    <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{$basedomain}assets/img/slides/01.jpg" alt="" />
              </li>
              <li>
                <img src="{$basedomain}assets/img/slides/02.jpg" alt="" />
              </li>
              <li>
                <img src="{$basedomain}assets/img/slides/03.jpg" alt="" />
              </li>
            </ul>
        </div>
    <!-- end slider -->
 
    </section>
    <!-- <section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-md-12" align="center">
                <h1>DISTANCE SYSTEM LEARNING</h1>
            </div>

        </div>
    </div>
    </section> -->
    <section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-md-3" align="center">
                <img src="{$basedomain}assets/img/data/standarisasi.JPG" alt="" width="40%"/>
                <h3><span>STANDARISASI</span></h3>
                <p>Peningkatan kualitas hidup manusia sangat erat kaitannya dengan standar apalagi yang mencakup aspek kesehatan, kemanan dan lingkungan hidup. <a href="#"><strong><i>Baca Selengkapnya</i></strong></a></p>
            </div>
            <div class="col-md-3" align="center">
                <img src="{$basedomain}assets/img/data/sertifikasi.JPG" alt="" width="40%"/>
                <h3><span>SERTIFIKASI</span></h3>
                <p>Kegiatan penilaian kesesuaian dapat dilakukan melalui akreditasi dan sertifikasi. Sertifikasi dapat diterapkan untuk semua obyek penilaian kesesuaian. <a href="#"><strong><i>Baca Selengkapnya</i></strong></a></p>
            </div>
            <div class="col-md-3" align="center">
                <img src="{$basedomain}assets/img/data/akreditasi.JPG" alt="" width="40%"/>
                <h3><span>AKREDITASI</span></h3>
                <p>Akreditasi merupakan elemen sistem penilaian kesesuaian yang memiliki fungsi memberikan pengakuan formal terhadap kompetensi lembaga penilaian kesesuaian.<a href="#"><strong><i>Baca Selengkapnya</i></strong></a></p>
            </div>
            <div class="col-md-3" align="center">
                <img src="{$basedomain}assets/img/data/metrologi.JPG" alt="" width="40%"/>
                <h3><span>METROLOGI</span></h3>
                <p>Metrologi mencakup semua aktivitas yang diperlukan untuk dapat melakukan pengukuran yang benar, tertelusur dan diakui kebenarannya dalam tingkat nasional, regional maupun internasional.<a href="#"><strong><i>Baca Selengkapnya</i></strong></a></p>
            </div>

            
        </div>
        
    </div>
    </section>

    <section id="featured" style="background-color:#6EC046">

    <div class="container">
         <div class="row">
            <div class="col-md-6">
                <img src="{$basedomain}assets/img/data/belajar.PNG" alt="" width="100%"/>
            </div>
            <div class="col-md-6">
                <img src="{$basedomain}assets/img/data/elearning.PNG" alt="" width="100%"/>
            </div>
         </div>
    </div>
    </section>

    <section class="callaction">
    <div class="container">

        <div class="row">

        <div class="col-md-12" align="center">
            <h3>KURSUS YANG TERSEDIA</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur consectetur  adipiscing elit donec mer lacinia.</p> -->
        </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    <img src="{$basedomain}assets/img/data/phonic.JPG" alt="" width="100%"/>
                    <div style="padding-left:15px;padding-bottom:20px">
                        <h4><span>CAKUPAN STANDAR</span></h4>
                        
                    <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
                        <i class="fa fa-file-text-o"></i> 5 Materi
                    </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                        <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    <img src="{$basedomain}assets/img/data/health.JPG" alt="" width="100%"/>
                    <div style="padding-left:15px;padding-bottom:20px">
                    <h4><span>INFRASTRUKTUR MUTU</span></h4>
                    <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
            
                        <i class="fa fa-file-text-o"></i> 3 Materi
                        </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                       <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    <img src="{$basedomain}assets/img/data/writing.JPG" alt="" width="100%"/>
                    <div style="padding-left:15px;padding-bottom:20px">
                    <h4><span>PRINSIP PENGEMBANGAN STANDAR</span></h4>
                    <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
            
                        <i class="fa fa-file-text-o"></i> 3 Materi
                    </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                        <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    <img src="{$basedomain}assets/img/data/playground.JPG" alt="" width="100%"/>
                    <div style="padding-left:15px;padding-bottom:20px">
                    <h4><span>PROSES PENGEMBANGAN STANDAR</span></h4>
                        <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
            
                        <i class="fa fa-file-text-o"></i> 3 Materi
                        </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                        <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>

            
        </div>
        
    </div>
    </section>
    <section id="featured" style="background-color:#FFFFFF;height:60px">
        <div class="container">
            &nbsp;
        </div>
    </section>
    <section id="featured" style="background-color:#EBEBEB">

    <div class="container">
         <div class="row">
            <div class="col-lg-4">
                <h3 align="center">BERITA</h3>
                <div class="row">

                    <div class="col-md-3">
                        <div class="col-md-12" align="center"  style="border-radius:50%;background-color:#9BDEF1;min-height:50px;padding:10px">
                            16<br/>
                            SEP
                        </div>
                    </div>
                    <div class="col-md-8" >
                        <p align="justify"> Blan ditiis praesen tium itiis praesen tium volupt atum dele niti atquepra esentium </p>
                        + <span style="color:#7DA55C">more info</span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="col-md-12" align="center"  style="border-radius:50%;background-color:#9BDEF1;min-height:50px;padding:10px">
                            16<br/>
                            SEP
                        </div>
                    </div>
                    <div class="col-md-8" >
                        <p align="justify"> Blan ditiis praesen tium itiis praesen tium volupt atum dele niti atquepra esentium </p>
                        + <span style="color:#7DA55C">more info</span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="col-md-12" align="center"  style="border-radius:50%;background-color:#9BDEF1;min-height:50px;padding:10px">
                            16<br/>
                            SEP
                        </div>
                    </div>
                    <div class="col-md-8" >
                        <p align="justify"> Blan ditiis praesen tium itiis praesen tium volupt atum dele niti atquepra esentium </p>
                        + <span style="color:#7DA55C">more info</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" align="center">
                <h3>QUOTE OF THE DAY</h3>
                <p><i>&quot;Who ever rules standards, rules industries&quot;</i></p>
                <strong style="color:#7DA55C"><i>William Edward Deming</i></strong>
            </div>
            <div class="col-lg-4">
                <h3 align="center">GLOSARIUM</h3> 
                <p>Standardisasi adalah proses merencanakan, merumuskan, menetapkan, menerapkan, memberlakukan, memelihara, dan mengawasi Standar yang dilaksanakan secara tertib dan bekerja sama dengan semua Pemangku Kepentingan 
                </p>
                <p style="padding-left:15px"><span style="color:#7DA55C">STANDARISASI</span><br/>
                    Standar adalah persyaratan teknis atau sesuatu yang dibakukan, termasuk tata cara dan metode yang disusun berdasarkan konsensus semua pihak/Pemerintah/ keputusan internasional yang terkait dengan memperhatikan syarat keselamatan, keamanan, kesehatan, lingkungan hidup, perkembangan ilmu pengetahuan dan teknologi, pengalaman, serta perkembangan masa kini dan masa depan untuk memperoleh manfaat yang sebesar-besarnya.
                </p>
            </div>
         </div>
    </div>
    </section>