	<div id="container" class="cls-content">
		
		
		<!-- LOCK SCREEN -->
		<!--===================================================-->
		<div class="cls-content">
			<div class="cls-content-sm panel widget">
				<div class="widget-header bg-primary text-center">
					<h4 class="text-thin">{$username}</h4>
					{$email}
				</div>
				<div class="widget-body">
					
				</div>
			</div>
		</div>
		<!--===================================================-->
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->