	<div id="container" class="cls-content">
		
		
		<!-- LOCK SCREEN -->
		<!--===================================================-->
		<div class="cls-content">
			<div class="cls-content-sm panel widget">
				<div class="widget-header bg-primary text-center">
					<h4 class="text-thin">{$username}</h4>
					{$email}
				</div>
				<div class="widget-body">
					<img alt="Profile Picture" class="widget-img img-circle img-border-light" src="{$basedomain}assets/img/av1.png">
					<p align="center">Please enter your new password</p>
					<form action="{$basedomain}user/updatePass" method="POST">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="password" name="password" class="form-control" placeholder="Password">
							</div>
						</div>
						<input type="hidden" name="email" value="{$email}" >
						<div class="form-group text-right">
							<button class="btn btn-block btn-success text-uppercase" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--===================================================-->
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->