<!--JAVASCRIPT-->
	<!--=================================================-->

	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="{$basedomain}js/bootstrap.min.js"></script>


	<!--Fast Click [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/fast-click/fastclick.min.js"></script>

	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="{$basedomain}js/nifty.min.js"></script>


	<!--Switchery [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/switchery/switchery.min.js"></script>


	<!--Bootstrap Select [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-select/bootstrap-select.min.js"></script>

	<!--DataTables [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/datatables/media/js/jquery.dataTables.js"></script>
	<script src="{$basedomain}plugins/datatables/media/js/dataTables.bootstrap.js"></script>
	<script src="{$basedomain}plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

	<!--Bootstrap Tags Input [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>


	<!--Chosen [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/chosen/chosen.jquery.min.js"></script>


	<!--noUiSlider [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/noUiSlider/jquery.nouislider.all.min.js"></script>


	<!--Bootstrap Timepicker [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>


	<!--Bootstrap Datepicker [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>


	<!--Dropzone [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/dropzone/dropzone.min.js"></script>


	<!--Summernote [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/summernote/summernote.min.js"></script>

	<!--Bootstrap Wizard [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

	<!--Bootstrap Validator [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-validator/bootstrapValidator.min.js"></script>


	<!--Masked Input [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/masked-input/jquery.maskedinput.min.js"></script>


	<!--Demo script [ DEMONSTRATION ]-->
	<script src="{$basedomain}js/demo/nifty-demo.min.js"></script>

	<!--DataTables Sample [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/tables-datatables.js"></script>

	<!--Form Component [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/form-component.js"></script>
