
<style type="text/css">


/*
Table Style - This is what you want
------------------------------------------------------------------ */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	/*margin:20px;*/
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: center;
	/*padding-left:20px;*/
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: center;
	/*padding-left:20px;*/
}
table tr td:first-child{
	text-align: left;
	/*padding-left:20px;*/
	border-left: 0;
}
table tr td {
	padding:10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
	border-bottom:0;
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

</style>
<section class="callaction">
	<div class="container">
		<div class="row">
			<form  role="search" method="POST" action="{$basedomain}search/">
			<div class="col-md-9 col-md-offset-1" align="center">
				
			        <div class="form-group">
			        	
			        	<div class="input-group">
	  						<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span> 
				         {if $keyword}
								{$key_value = "$keyword"}
							{else}
								{$key_value = ""}	
							{/if}
						  <input type="text" class="form-control" placeholder="Search"  value = "{$key_value}" name="cari">
			        	</div>
			        </div>
			</div>

			<div class="col-md-1" align="center">
					<button type="submit" class="btn btn-info" >Search</button>
			</div>

			</form>
		</div>
			<div class="col-md-1" align="center">
			
			</div>
		
	</div>
</section>

{if $group_course}	
<!--{pr($group_course)}	
{pr($list_course)}	
{pr($nilai)}-->	
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-1" align="center">
				  
<table width="100%"> 
	<tr>
		<th align="center" >GROUP KURSUS</th>
	</tr>
    
<tr>
	<td>{$group_course.namagrup}</td>
</tr>

	<tr>
		<th align="center" >LIST MATERI</th>
	</tr>
	{if $list_course}
	{foreach $list_course as $val_list}
	<tr class='even'>
		<td>{$val_list.namamateri}</td>
	</tr>
	{/foreach}
	{/if}
</table>
			</div>
			<div class="col-md-3" align="center">
			 <div class="col-md-12 nilai" style="background-image:linear-gradient(#fffff5, #f5f3b4);border:2px solid #E3E3E3;">
                 <div  align="center">

                  <div style="padding-top:70px;padding-bottom:50px;">
                   <span style="font-size:90px">{$nilai.nilai}</span>
                 </div>
                   <h5>SKOR</h5>
                </div>
            </div>
            <a href="#">
            <div class="col-md-12 nilai hvr-grow-shadow" style="margin-top:20px;background-color:#39B3D7;color:white;font-size:19px;padding-top:20px;padding-bottom:20px" >
            	<i class="fa fa-file-pdf-o"></i> Download Sertifikat
       		 </div>
       		 </a>
			</div>

		</div>
	</div>
</section>
{/if}