<section class="callaction">
	<div class="container">
		
		<div class="row">
			<div class="col-md-8" style="background-color:#AF0096">
				<div class="row">
					<div class="col-md-1" style="padding-top:5px">
						<div style="color:#FFFFFF;padding:10px">
							<i class="fa fa-book fa-4x"></i>
						</div>
					</div>
					<div class="col-md-10"  style="color:#FFFFFF;height:241px">
						<h1  style="color:#FFFFFF">{$course.grup.namagrup}</h1>
						{$course.grup.syaratkelulusan}
					</div>
				</div>
			</div>
			<div class="col-md-3" align="center" style="color:#FFFFFF;background-color:#D3D3D3;padding-top:10px;margin-left:5px;border-radius:5px;">
				<img src="{$basedomain}assets/img/data/iconslide.JPG"/><br/><br/>
				<span style="font-size:24px;color:#252A72">Ujian {$course.grup.namagrup}</span>
				<br/><span style="color:#000000">{count($course.course)} Pokok Bahasan</span><br/><br/>
					{if $havequiz}
				   <div style="border-radius:5px 10px;background-color:#4155D0;width:100%;height:100%;padding:10px 0px;"><a href="{if $user}{$basedomain}quiz/startQuiz/?id={$kursusid}{else}javascript:void(0){/if}" style="text-decoration:none;color:#FFFFFF;font-size:24px;" {if !$user} data-target="#myModal" data-toggle="modal" {/if} class="applykursus" data-kursus="{$kursusid}">APPLY NOW
                        </a></div>
                	{/if}
			</div>

		</div>
	</div>
	</section>
	<section class="callaction">
	<div class="container">
		<div class="col-md-12" align="left" style="border-bottom:2px solid #F5F5F5;margin-bottom:50px;padding-bottom:3px">
	        <span style="font-size:23px;border-bottom:2px solid #E37A43;">List KURSUS</span>
	        
	        <!-- <p>Lorem ipsum dolor sit amet, consectetur consectetur  adipiscing elit donec mer lacinia.</p> -->
	    </div>
		<div class="row">
			<div class="col-md-12">
				<!-- <div class="btn-group" role="group" aria-label="..." style="font-size:21px">
				  <a href="#" class="btn btn-primary hvr-bubble-bottom">COURSE BRIEF</a>
				  <a href="#" class="btn btn-primary hvr-bubble-bottom">MATERI</a>
				  <a href="#" class="btn btn-primary hvr-bubble-bottom">DOWNLOAD</a>
				  <a href="#" class="btn btn-primary hvr-bubble-bottom">VIDEO</a>
				  <a href="#" class="btn btn-primary hvr-bubble-bottom">FAQS</a>
				</div><br/><br/><br/> -->
				<div class="row">
					<div class="col-md-3">
						<div class="col-md-12 btn-group-vertical" role="group" aria-label="..." align="left">
						  
							  <a href="#" class="btn btn-default" disabled><i class="fa fa-list"></i> Kursus</a>
							  {if !empty($allcourse)}
							  {foreach $allcourse as $val}
							  <a href="{$basedomain}kursus/subkursusDetail/?id={$val.idGrup_kursus}&idk={$val.idKursus}" class="btn btn-default changetab">{$val.namakursus}</a>
							  {/foreach}
							  {/if}
							  <!-- <a href="#" class="btn btn-default"><span class="label label-info">Hirarki</span>Infrastruktur Mutu</a> -->
						</div>
					</div>
					{if !empty($course.course)}
					{foreach $course.course as $val}
					<div class="col-md-8 hiddendiv" style="display:" id="tab{$val.idKursus}">
			           <div style="background-color:#f5f5f5;padding:1px 15px;border-radius:10px 10px 0px 0px">

			            	<h4>{$val.namakursus}</h4>
			            </div>
			            <div style="background-color:#fbfbfb;padding:15px">
			            {$val.keterangan}<br/>
			            <p>
			            {*}<span style="font-size:13px;font-weight:bold">Requirement</span><br/>
			            <a href="#" class="label label-danger" style="font-size:11px;"><i class="fa fa-times"></i> Bayu sleep </a>
			            <a href="#" class="label label-success" style="font-size:11px;">
			            <i class="fa fa-check-square"></i> Bayu sleep </a>
			            </p>
			            <p>
			            <span style="font-size:13px;font-weight:bold">Schedule :</span><br/>
			            tulisan aja
			            </p> 
			            <p>
			            <span style="font-size:13px;font-weight:bold">Quota :</span><br/>
			            tulisan aja
			            </p>{/*}
			          </div>
			            <div style="background-color:#F5F5F5;padding:10px 15px;">

			             <span style="font-weight:bold;font-size:15px">Materi</span>
			            </div>

            		<div style="background-color:#fbfbfb;padding:15px">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						{if !empty($val.materi)}
						{foreach $val.materi as $value}
						  <div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="headingOne">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{$value.idMateri}" aria-expanded="true" aria-controls="collapse{$value.idMateri}">
						          {$value.namamateri}
						        </a>
						      </h4>
						    </div>
						    <div id="collapse{$value.idMateri}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						      <div class="panel-body">
						        {$value.keterangan}<br/><br />

						       	{if !empty($value.file)}
								{foreach $value.file as $vals}
									
									{$expl_string = "."|explode:$vals.files}
									{if ($expl_string[1] == 'pdf')}
										<a href="{$basedomain}kursus/viewPdf/?pdf={$vals.files}" class="hvr-icon-sink btn btn-info"><i class="fa fa-file-pdf-o"></i> View {$vals.namafile}</a>
									{elseif ($expl_string[1] == 'mp4')}
										<a href="#" class="hvr-icon-spin btn btn-info" data-toggle="modal" data-target="#viewVideo"><i class="fa fa-file-video-o"></i> View {$vals.namafile}</a>
										<div class="modal fade" id="viewVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog video">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">View Video</h4>
											  </div>
											  <div class="modal-body">
												   <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="100%" height="264" poster="http://video-js.zencoder.com/oceans-clip.png"data-setup="{}">
													<source src="{$basedomain|cat:'public_assets/'|cat:$vals.files}" type='video/mp4' />
													<!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
													<!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
													<source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />-->
													<track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track> <!--Tracks need an ending tag thanks to IE9-->
													<track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!--Tracks need an ending tag thanks to IE9-->
													<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
												  </video>
											  </div>
											</div>
										  </div>
										</div> 
									{else}
										<a href="#" class="hvr-icon-spin btn btn-info" data-toggle="modal" data-target="#viewVideo2"><i class="fa fa-file-video-o"></i> View {$vals.namafile}</a>
										<div class="modal fade" id="viewVideo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog video">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">View Video</h4>
											  </div>
											  <div class="modal-body">
												<iframe width="100%" height="264" src="{$vals.files}"></iframe>
											  </div>
											</div>
										  </div>
										</div> 
									{/if}
								{/foreach}
						        {/if}
						      </div>
						    </div>
						  </div>
						  {/foreach}
						  {/if}
						</div>
					</div>

          		</div>
          		{/foreach}
          		{/if}


			</div>
			</div>
			<div class="col-md-3">
				&nbsp;
			</div>

		</div>
	</div>
	</section>

{literal}
	<!--<script type="text/javascript">
		$('.changetab').on('click', function(){

			$(".hiddendiv").hide(300);
			var data = $(this).attr('href'); 
			$(data).show(300);
			
		})
	</script>-->
{/literal}
