<div class="modal fade" id="viewVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog video">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Video</h4>
      </div>
      
      <div class="modal-body">
       
           <img src="{$basedomain}assets/img/return-of-video-to-elearning.jpg" width="100%"/>
        
      </div>
      <div class="modal-footer">
      	<button aria-label="Close" data-dismiss="modal" class="btn btn-default" type="button"><span aria-hidden="true">Close</span></button>
      </div>
    </div>
  </div>
</div>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-8" style="background-color:#AF0096">
				<div class="row">
					<div class="col-md-1" style="padding-top:20px">
						<div style="color:#FFFFFF;background-color:#73496E;padding:10px">
							<i class="fa fa-file-text fa-3"></i>
						</div>
					</div>
					<div class="col-md-10"  style="color:#FFFFFF;height:287px">
						<h1  style="color:#FFFFFF">LIST GROUP KURSUS</h1>
						TERSEDIA JENIS_JENIS GROUP SEPERTi
						<ol type="1">
							<li>Lorem ipsum dolor sit amet, consectetu</li>
							<li>Lorem ipsum dolor sit amet, consectetu</li>
							<li>Lorem ipsum dolor sit amet, consectetu</li>
							<li>Lorem ipsum dolor sit amet, consectetu</li>
							<li>Lorem ipsum dolor sit amet, consectetu</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-3" align="center" style="color:#FFFFFF;background-color:#D3D3D3;padding-top:10px;margin-left:5px;border-radius:5px;">
				<img src="{$basedomain}assets/img/data/iconslide.JPG"/><br/><br/>
				<span style="font-size:24px;color:#252A72">E-Elearning Standarisasi & Penilaian Kesesuaian</span>
				<br/><span style="color:#000000">10 Pokok Bahasan</span><br/><br/>
				   <div style="border-radius:5px 10px;background-color:#4155D0;width:100%;height:100%;padding:10px 0px;"><a href="#" style="text-decoration:none;color:#FFFFFF;font-size:24px;">APPLY NOW
                        </a></div>
			</div>

		</div>
	</div>
	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    <div style="padding-left:15px;padding-bottom:20px">
                        <h4><span>WEB PROGRAMMING</span></h4>
                        
                    <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
                        <i class="fa fa-file-text-o"></i> 5 Materi
                    </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                        <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                      </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    <div style="padding-left:15px;padding-bottom:20px">
                    <h4><span>Mobile PROGRAMMING</span></h4>
                    <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
            
                        <i class="fa fa-file-text-o"></i> 3 Materi
                        </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                       <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    <div style="padding-left:15px;padding-bottom:20px">
                    <h4><span>ENTERPREUNERSIP</span></h4>
                    <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
            
                        <i class="fa fa-file-text-o"></i> 3 Materi
                    </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                        <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="border:2px solid #E3E3E3">
                    
                    <div style="padding-left:15px;padding-bottom:20px">
                    <h4><span>DESAIN GRAPIS</span></h4>
                        <img src="img/data/star.JPG" alt=""/> (3 reviews)<br/><br/>
            
                        <i class="fa fa-file-text-o"></i> 3 Materi
                        </div>
                    <div style="border-top:2px solid #E3E3E3;" align="center">
                        <a href="#" class="hvr-shutter-in-horizontal" style="width:100%;height:100%;padding:10px 0px;text-decoration:none"><i class="fa fa-file-text"></i> <strong>APPLY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>


		</div>
	</div>
	</section>