<section class="callaction">
	<div class="container">
		<div class="col-md-12" align="left" style="border-bottom:2px solid #F5F5F5;margin-bottom:50px;padding-bottom:3px">
	        <span style="font-size:23px;border-bottom:2px solid #E37A43;">View PDF</span>
	        
	        <!-- <p>Lorem ipsum dolor sit amet, consectetur consectetur  adipiscing elit donec mer lacinia.</p> -->
	    </div>
        <div class="col-md-12">
            <a href="{$basedomain}public_assets/{$pdf}" class="hvr-icon-rotate btn btn-info" target="_blank"><i class="fa fa-file-pdf-o"></i> Download {$vals.namafile}</a> 
    {*}<div class="well">
        <span class="rating">
          <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
        </span>
      </div>{/*}

<div id="book">
    <!-- <div class="cover"><h1>The Test</h1></div> -->
</div>

<div id="controls">
    <label for="page-number">Page:</label> <input type="text" size="3" id="page-number"> of <span id="number-pages"></span>
</div>

<script id="my_script" type="text/javascript">

    // Sample using dynamic pages with turn.js

        var basedomainFile = "{$basedomain}";

        var pdfFile = "{$pdf}";
{literal}
    var numberOfPages = 0; 

    // var url = 'pdf/test.pdf';
    var url = basedomainFile+'public_assets/'+pdfFile;
    
    var rendered = [];
    var firstPagesRendered = false;
    
    

    var pdf = null,
        pageNum = 1,
        scale = 0.8;

    function renderPage(num) {

        pdf.getPage(num).then(function(page) {
        var scale = 0.8;
        var viewport = page.getViewport(scale);

        //
        // Prepare canvas using PDF page dimensions
        //
        var canvasID = 'canv' + num;
        var canvas = document.getElementById(canvasID);
        if (canvas == null) return;
        var context = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        //
        // Render PDF page into canvas context
        //
        var renderContext = {
          canvasContext: context,
          viewport: viewport
        };
        page.render(renderContext);

        // Update page counters
        document.getElementById('page-number').textContent = pageNum;
        document.getElementById('number-pages').textContent = pdf.numPages;
        }
    )}
    

    // Adds the pages that the book will need
    function addPage(page, book) {
        //  First check if the page is already in the book
        if (!book.turn('hasPage', page)) {
        
            /*
            var element = $('<div />', {'class': 'page '+((page%2==0) ? 'odd' : 'even'), 'id': 'page-'+page}).html('<i class="loader"></i>');
            // If not then add the page
            book.turn('addPage', element, page);
            // Let's assum that the data is comming from the server and the request takes 1s.
            setTimeout(function(){
                    element.html('<div class="data">Data for page '+page+'</div>');
            }, 1000);
            */
            ///*
            // Create an element for this page
            var element = $('<div />', {'class': 'page '+((page%2==0) ? 'odd' : 'even'), 'id': 'page-'+page})
            element.html('<div class="data"><canvas id="canv' + page + '"></canvas></div>');
            // element.html('<div><i>test</i></div>');
            // If not then add the page
            book.turn('addPage', element, page);
            // renderPage(page);
            //*/
        }
    }


    
    $(window).ready(function(){

        PDFJS.disableWorker = true;
    
        PDFJS.getDocument(url).then(function(pdfDoc) {
      
            numberOfPages = pdfDoc.numPages;
            pdf = pdfDoc;
            $('#book').turn.pages = numberOfPages;
      
        
        $('#book').turn({acceleration: false,
                            pages: numberOfPages,
                            elevation: 50,
                            gradients: !$.isTouch,
                            // display: 'single',
                            when: {
                                turning: function(e, page, view) {

                                    // Gets the range of pages that the book needs right now
                                    var range = $(this).turn('range', page);

                                    // Check if each page is within the book
                                    for (page = range[0]; page<=range[1]; page++) {
                                        addPage(page, $(this));
                                        //renderPage(page);
                                    };

                                },

                                turned: function(e, page) {
                                    $('#page-number').val(page);
                                    
                                    if (firstPagesRendered) {
                                        var range = $(this).turn('range', page);
                                        for (page = range[0]; page<=range[1]; page++) {
                                            if (!rendered[page]) {
                                                renderPage(page);
                                                rendered[page] = true;
                                            }
                                        };
                                    }
                                    
                                }
                            }
                        });

        $('#number-pages').html(numberOfPages);

        $('#page-number').keydown(function(e){
        
            var p = $('#page-number').val();
            if (e.keyCode==13) {
                $('#book').turn('page', p);
                renderPage(p);
            }
                
        });
        
        var n = numberOfPages;
        if (n > 6 ) n = 6;
                                    for (page = 1; page <= n; page++) {
                                        renderPage(page);
                                        rendered[page] = true;
                                    };
                                    firstPagesRendered = true;
        
        
        });


    });

    $(window).bind('keydown', function(e){

        if (e.target && e.target.tagName.toLowerCase()!='input')
            if (e.keyCode==37)
                $('#book').turn('previous');
            else if (e.keyCode==39)
                $('#book').turn('next');

    });
{/literal}
</script>
</div>
	</div>
</section>