logs/*
cache/*
config/config.php
config/access.php
tmp/*
public_assets/*
admin/cache/*
admin/logs/*
admin/config/
newtemplate/admin/cache/*
newtemplate/admin/logs/*
newtemplate/admin/config/*
newtemplate/public_assets/*
newtemplate/cache/*
newtemplate/tmp/*
newtemplate/admin/tmp/*
newtemplate/logs/*
newtemplate/config/access.php

