
{$classHome=''}
{$classBerita=''}
{$classProfil=''}
{$classQuiz=''}

{if $page.page=='home'}
    {$classHome='class="active"'}
{/if}
{if $page.page=='berita'}
    {$classBerita='class="active"'}
{/if}
{if $page.page=='profil'}
    {$classProfil='class="active"'}
{/if}
{if $page.page=='quiz'}
    {$classQuiz='class="active"'}
{/if}
<div id="wrapper">
  <!-- start header -->
  <header>
    <div class="navbar logo navbar-default white navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    
                    <a class="navbar-brand" href="index.html"><img src="{$basedomain}assets/img/logo.PNG" alt="logo" width="100%"/></a>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse " style="overflow:auto">
                    <ul class="nav navbar-nav">
                        <li {$classHome}><a href="{$basedomain}">BERANDA</a></li> 
                      <li {$classProfil}><a href="{$basedomain}profil">PROFIL</a></li>
                      <li {$classQuiz}><a href="{$basedomain}quiz">E-LEARNING</a></li>
                        <li><a href="kursus.php">KURSUS</a></li>
                        <li {$classBerita}><a href="{$basedomain}berita">BERITA</a></li>
                    </ul>
                </div>
            </div>
        </div>
  </header>
  <!-- end header -->