<!--JAVASCRIPT-->
<!--=================================================-->

<!--BootstrapJS [ RECOMMENDED ]-->
<script src="{$basedomain}assets/js/bootstrap.min.js"></script>


<!--Fast Click [ OPTIONAL ]-->
<script src="{$basedomain}plugins/fast-click/fastclick.min.js"></script>


<!--Nifty Admin [ RECOMMENDED ]-->
<script src="{$basedomain}assets/js/nifty.min.js"></script>


<!--Switchery [ OPTIONAL ]-->
<script src="{$basedomain}plugins/switchery/switchery.min.js"></script>


<!--Bootstrap Select [ OPTIONAL ]-->
<script src="{$basedomain}plugins/bootstrap-select/bootstrap-select.min.js"></script>


<!--Demo script [ DEMONSTRATION ]-->
<script src="{$basedomain}assets/js/demo/nifty-demo.min.js"></script>

<!--Full Calendar [ OPTIONAL ]-->
<script src="{$basedomain}plugins/fullcalendar/lib/moment.min.js"></script>
<script src="{$basedomain}plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
<script src="{$basedomain}plugins/fullcalendar/fullcalendar.min.js"></script>

<!--Bootstrap Timepicker [ OPTIONAL ]-->
<script src="{$basedomain}plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>


<!--Bootstrap Datepicker [ OPTIONAL ]-->
<script src="{$basedomain}plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

<!--Masked Input [ OPTIONAL ]-->
<script src="{$basedomain}plugins/masked-input/jquery.maskedinput.min.js"></script>

<!--Bootbox Modals [ OPTIONAL ]-->
<script src="{$basedomain}plugins/bootbox/bootbox.min.js"></script>

<!--DataTables [ OPTIONAL ]-->
<script src="{$basedomain}plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="{$basedomain}plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="{$basedomain}plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

<!--Full Calendar [ SAMPLE ]-->
<!-- <script src="{$basedomain}assets/js/demo/misc-fullcalendar.js"></script> -->


<!--

REQUIRED
You must include this in your project.

RECOMMENDED
This category must be included but you may modify which plugins or components which should be included in your project.

OPTIONAL
Optional plugins. You may choose whether to include it in your project or not.

DEMONSTRATION
This is to be removed, used for demonstration purposes only. This category must not be included in your project.

SAMPLE
Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


Detailed information and more samples can be found in the document.

-->