<!DOCTYPE html>

<html>

    <head>
        <title>Lelang Busana</title>
        <link href="{$basedomain}assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{$basedomain}assets/js/jquery.min.js"></script>
        <!-- Custom Theme files -->
        <!--theme-style-->
        <link href="{$basedomain}assets/css/style.css" rel="stylesheet" type="text/css" media="all" />  
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        
        <!--fonts-->
        <link href="{$basedomain}assets/css/font-google-apis.css" rel='stylesheet' type='text/css'>
       <!--//fonts-->

        <!-- RUNNING GLOBAL VAR -->
        <script>
            var basedomain = "{$basedomain}";
        </script>

    </head>