<div class="container" style="margin-top:100px;margin-bottom:20px;">
	<div class="row">
		 <div class="col-xs-7 col-md-7 col-md-offset-1">
		 <span style="font-size:30px;color:#E06517">Terima kasih, </span>
		</div>
	</div>
	<div class="row">
		 <div class="col-xs-7 col-md-7 col-md-offset-1" style="background-color:#FFF;padding-top:10px">
				
					<div class="thumbnail">
						<div class="form-group">
				            <label for="recipient-name" class="control-label">{$msg}</label>
				            
				          </div>
				        
					</div>
				
				  </div> 
				  
				   <div class="col-xs-4 col-md-4 ">
					<!-- <div class="thumbnail">
						 <span style="font-size:20px;color:#E06517">Tawar Harga</span><br/>
						
						<br/>
						
						<div class="row">
							
						   <div class="col-xs-12 col-md-12 ">
						<div style="font-size:16px;color:#E06517;width:99%; background-color:#F1F1F1;padding:10px" align="center">Rp . 500.000,-</div>
						</div>
						</div>
						</br/>
						<a href="#" style="background-color:#E06517;padding:5px;color:#fff">Ping</a>
						<p>&nbsp;</p>
					</div> -->
					
					
				  </div> 
	</div>
</div>
