<script>
$(window).on('load', function() {

	// Datatables
	// Row selection and deletion (multiple rows)
	// -----------------------------------------------------------------
	var rowDeletion = $('#newslist').DataTable({
		"responsive": true,
		"language": {
			"paginate": {
			  "previous": '<i class="fa fa-angle-left"></i>',
			  "next": '<i class="fa fa-angle-right"></i>'
			}
		},
		"dom": '<"toolbar">frtip'
	});

	$('#create-toolbar').appendTo($("div.toolbar"));
	$('#separator-toolbar').appendTo($("div.toolbar"));
	$('#delete-toolbar').appendTo($("div.toolbar"));

	$('#newslist tbody').on( 'click', 'tr', function () {
		$(this).toggleClass('selected');
	} );

	$('#demo-dt-delete-btn').click( function () {
		rowDeletion.row('.selected').remove().draw( false );
	} );
})	
</script>

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Quiz List</h1>

	<!--Searchbox-->
	<!-- <div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li class="active">Quiz List</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<!-- Row selection and deletion (multiple rows) -->
	<!--===================================================-->
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Table of Quiz List</h3>
		</div>
		<div id="create-toolbar" class="table-toolbar-left">
			<a class="btn btn-info btn-labeled fa fa-plus" href="{$basedomain}quiz">Create</a>
		</div>
		<div id="separator-toolbar" class="table-toolbar-left">&nbsp;</div>
		<div class="panel-body">
			<table id="newslist" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Soal</th>
						<th>Kursus</th>
						<th class="min-tablet">Materi</th>
						<th class="min-tablet">Status</th>
						<th class="min-tablet">Aksi</th>
					</tr>
				</thead>
				<tbody>
					{if !empty($getQuiz)}
					{foreach $getQuiz as $val}
					<tr>
						<td>{$val.soal}</td>
						<td>{$val.namakursus}</td>
						<td>{$val.namamateri}</td>
						{if $val.n_status ==0}
						<td style="color:red">UnPublished</td>
						{else}
						<td style="color:green">Published</td>
						{/if}
						
						<td><a id ="demo-dt-delete-btn" class="btn btn-success btn-labeled fa fa-pencil-square-o" href="{$basedomain}quiz/editquiz/?idSoal={$val.idSoal}">Edit</a>
						<a id ="demo-dt-delete-btn" class="btn btn-danger btn-labeled fa fa-times" href="{$basedomain}quiz/deletequiz/?idSoal={$val.idSoal}">Delete</a>
						</td>

					</tr>
					{/foreach}
					{/if}
					
				</tbody>
			</table>
		</div>
	</div>
	<!--===================================================-->
	<!-- End Row selection and deletion (multiple rows) -->
	
	
</div>
<!--===================================================-->
<!--End page content-->

{literal}
	<script type="text/javascript">

		function checkForm()
		{

			var txt;
			var r = confirm("Anda yakin ingin menghapus data ?");
			if (r == true) {
			    // txt = "You pressed OK!";
			} else {
			    return false;
			}
		}
	</script>

{/literal}
