<section class="callaction">
	<div class="container">
		<div class="col-md-12" align="left" style="border-bottom:2px solid #F5F5F5;margin-bottom:50px;padding-bottom:3px">
	        <span style="font-size:23px;border-bottom:2px solid #E37A43;">Cara Mengikuti E-learning</span>
	        
	        <!-- <p>Lorem ipsum dolor sit amet, consectetur consectetur  adipiscing elit donec mer lacinia.</p> -->
	    </div><br/>
		<div class="row">
			<div class="col-md-12"> 
                <h5>Langkah Pertama (PENDAFTARAN)</h5>
    <ol>
                
    <li>Lakukan Pendaftaran</li>
    <li>Masukan data yang di minta secara lengkap.</li>
    <li>Pastikan alamat email yang anda gunakan valid.</li>
    <li>Gunakan Password yang mudah diingat</li>
    </ol>

            <h5>Langkah Kedua (Login)</h5>
    <ol>
                
    <li>Pilih menu Login</li>
    <li>Masukan data Username dan Password sesuai dengan akun anda</li>
    <!-- <li>Jika Anda Lupa Username maupun Password, Segera Hubungi..., untuk dapat mereset password anda</li> -->
    </ol>

     <h5>Langkah Ketiga (Pilih Group Kursus)</h5>
    <ol>
                
    <li>Pilih menu Kursus</li>
    <li>Maka Akan tampil Berbagai Macam Jenis Kursus yang tersedia</li>
    <li>Kemudian Pilih Salah Satu Group Kursus yang Akan diikuti</li>
    <li>Maka Akan Muncul List kursus yang tersedia dari Group Kursus yang Dipilih</li>
    <li>Kemudian Pilih salah satu list Kursus yang tersedia</li>
    <li>Maka Akan Muncul deskripsi mengenai Kursus tersebut</li>
    </ol>

    <h5>Langkah Keempat (Mengikuti Kursus)</h5>
    <ol>
                
    <li>Klik Tombol APPLY NOW</li>
    <li>Maka Akan diarahkan kehalaman kuis untuk mengerjakan soal</li>
    <li>setelah jawab soal yang tersedia dengan waktu yang tersedia</li>
    <li>kemudian Submit jika semua soal sudah terjawab</li>
    <li>Maka Nilai dari kuis ini akan Anda ketahui</li>
    </ol>



            </div>
		</div>
	</div>
</section>