<section class="callaction">
	<div class="container">
		<div class="col-md-12" align="left" style="border-bottom:2px solid #F5F5F5;margin-bottom:50px;padding-bottom:3px">
	        <span style="font-size:23px;border-bottom:2px solid #E37A43;">Cara Mengikuti E-learning</span>
	        
	        <!-- <p>Lorem ipsum dolor sit amet, consectetur consectetur  adipiscing elit donec mer lacinia.</p> -->
	    </div><br/>
		<div class="row">
			<div class="col-md-12"> 

            Cara mengikuti E-learning Standardisasi dan Penilaian Kesesuaian (versi 31 Juli 2015)
<ol>
    <li> Tanpa Daftar atau Log In<br/>
        Belajar tanpa batas, Anda dapat langsung menambah wawasan tentang standardisasi dan penilaian kesesuaian tanpa perlu daftar dan atau log in. Caranya adalah sebagai berikut:
        <ol type='a'>
            <li>Pilih salah satu kursus di menu Beranda atau menu Kursus dan klik “APPLY NOW”</li>
            <li>Maka akan muncul deskripsi mengenai Kursus tersebut dan materi (flipbook dan video)</li>
            <li>Klik flipbook untuk membaca materi kuliah dalam bentuk buku atau teks</li>
            <li>Klik video untuk mempermudah pemahaman terhadap materi</li>
            <li>Jika sudah selesai silakan lanjutkan atau pilih kursus yang lain dengan cara yang sama</li>
        </ol><br/>
    </li>
    <li> Dengan Pendaftaran atau Log In<br/>
    Pendaftaran atau Login dimaksudkan jika Anda menginginkan nilai tambah berupa sertifikat dan langganan informasi terbaru di bidang standardisasi dan penilaian kesesuaian secara gratis. Caranya adalah sebagai berikut:
        <ol type='a'>
            <li>Klik menu Login (posisi di pojok kanan atas)</li>
            <li>Pilih Sign up (jika belum memiliki account/daftar) atau Sign in (jika sudah memiliki account/daftar)</li>
            <li>Lakukan langkah seperti No. 1a s.d. 1d</li>
            <li>Jika sudah selesai, kunjungi menu kursus</li>
            <li>Pilih kursus yang sudah dipelajari dengan cara klik “APPLY NOW”</li>
            <li>Maka muncul deskripsi Kursus dan Ujian, terus Klik “APPLY NOW”</li>
            <li>Maka Akan diarahkan kehalaman kuis untuk mengerjakan soal </li>
            <li>Kerjakan semua soal dengan waktu yang tersedia </li>
            <li>Kemudian Submit jika semua soal sudah terjawab </li>
            <li>Maka Nilai dari kuis ini akan Anda ketahui </li>
         </ol><br/>
    </li>
    <li> Cara mengikut webconference
        <ol type='a'>
            <li>kunjungi (atau klik) https://iso-meetings.webex.com</li>
            <li>masukkan meeting number (lihat di Jadwal Webconference di Menu Beranda) </li>
            <li>masukan nama dan email </li>
            <li>klik join </li>
        </ol>
    </li>
</ol>
<strong>Persyaratan PC/Komputer: koneksi internet, speaker, dan microphone (opsional). </strong>
<br/>
<br/>
Webconference juga dapat diikuti melalui gadget (smartphones, tablet, ipad, iphone, windows phone) dengan cara sebagai berikut: 
<br/>
    <ol type="a">
        <li>install aplikasi webex di playstore, appstore, windows app market; </li>
        <li>pilih join meeting (lihat di Jadwal Webconference di Menu Beranda)</li>
        <li>masukkan number meeting</li>
        <li>klik join</li>
    </ol>
pengguna android dapat menginstall aplikasi di <a href="https://play.google.com/store/apps/details?id=com.cisco.webex.meetings&hl=en" >Download Me</a>

  


            </div>
		</div>
	</div>
</section>