<script src="{$basedomain}js/libs/jquery-1.9.1.min.js"></script>
<script src="{$basedomain}js/libs/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{$basedomain}js/libs/bootstrap.min.js"></script>

<script src="{$basedomain}js/plugins/parsley/parsley.js"></script>

<script src="{$basedomain}js/plugins/icheck/jquery.icheck.min.js"></script>
<script src="{$basedomain}js/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{$basedomain}js/plugins/timepicker/bootstrap-timepicker.js"></script>
<script src="{$basedomain}js/plugins/simplecolorpicker/jquery.simplecolorpicker.js"></script>
<script src="{$basedomain}js/plugins/select2/select2.js"></script>
<script src="{$basedomain}js/plugins/autosize/jquery.autosize.min.js"></script>
<script src="{$basedomain}js/plugins/textarea-counter/jquery.textarea-counter.js"></script>
<script src="{$basedomain}js/plugins/fileupload/bootstrap-fileupload.js"></script>
<script src="{$basedomain}js/plugins/tableCheckable/jquery.tableCheckable.js"></script>

<script src="{$basedomain}js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{$basedomain}js/plugins/datatables/DT_bootstrap.js"></script>

<script src="{$basedomain}js/App.js"></script>

<script src="{$basedomain}js/libs/raphael-2.1.2.min.js"></script>
<script src="{$basedomain}js/plugins/morris/morris.min.js"></script>

<script src="{$basedomain}js/demos/charts/morris/area.js"></script>
<script src="{$basedomain}js/demos/charts/morris/donut.js"></script>

<script src="{$basedomain}js/plugins/sparkline/jquery.sparkline.min.js"></script>

<script src="{$basedomain}js/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="{$basedomain}js/plugins/WYSIWYG/jquery-te-1.4.0.min.js"></script>

<script src="{$basedomain}js/demos/calendar.js"></script>

<script src="{$basedomain}js/plugins/magnific/jquery.magnific-popup.min.js"></script>


<script src="{$basedomain}js/jquery.prettyPhoto.js"></script>
<script src="{$basedomain}js/wow.min.js"></script>
<script src="{$basedomain}js/main.js"></script>




