<script>
$(document).ready(function() {
	$('#deskripsi').summernote({
		height: 200
	});
})	


</script>
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Create Course</h1>

	<!--Searchbox-->
	<div class="searchbox">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Search..">
			<span class="input-group-btn">
				<button class="text-muted" type="button"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="{$basedomain}">Home</a></li>
	<li><a href="{$basedomain}course/courselist">Course</a></li>
	<li class="active">Add Course</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
	
	<div class="row">

		<div class="col-lg-12">
			<div class="panel">
	
				<!-- Form wizard with Validation -->
				<!--===================================================-->
				<div id="demo-bv-wz">
					<div class="wz-heading">
	
						<!--Progress bar-->
						<div class="progress progress-sm progress-light-base">
							<div class="progress-bar progress-bar-primary"></div>
						</div>
	
						<!--Nav-->
						<ul class="wz-icon-bw wz-nav-off">
							<li class="col-xs-3">
								<a data-toggle="tab" href="#demo-bv-tab1" title="Account">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-mint">
									<i class="wz-icon fa fa-info fa-2x"></i>
									<i class="wz-icon-done fa fa-check fa-2x"></i>
								</span>
								</a>
							</li>
							<li class="col-xs-3">
								<a data-toggle="tab" href="#demo-bv-tab2" title="Profile">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-info">
									<i class="wz-icon fa fa-user fa-2x"></i>
									<i class="wz-icon-done fa fa-check fa-2x"></i>
								</span>
								</a>
							</li>
							<li class="col-xs-3">
								<a data-toggle="tab" href="#demo-bv-tab3" title="Address">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
									<i class="wz-icon fa fa-home fa-2x"></i>
									<i class="wz-icon-done fa fa-check fa-2x"></i>
								</span>
								</a>
							</li>
							<li class="col-xs-3">
								<a data-toggle="tab" href="#demo-bv-tab4" title="Finish">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="wz-icon fa fa-heart fa-2x"></i>
									<i class="wz-icon-done fa fa-check fa-2x"></i>
								</span>
								</a>
							</li>
						</ul>
					</div>
	
					<!--Form-->
					<form id="demo-bv-wz-form" class="form-horizontal">
						<div class="panel-body">
							<div class="tab-content">
	
								<!--First tab-->
								<div id="demo-bv-tab1" class="tab-pane">
									<div class="form-group">
										<label class="col-lg-3 control-label">Username</label>
										<div class="col-lg-7">
											<input type="text" class="form-control" name="username" placeholder="Username">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label">Email address</label>
										<div class="col-lg-7">
											<input type="email" class="form-control" name="email" placeholder="Email">
										</div>
									</div>
								</div>
	
								<!--Second tab-->
								<div id="demo-bv-tab2" class="tab-pane fade">
									<div class="form-group">
										<label class="col-lg-3 control-label">First name</label>
										<div class="col-lg-7">
											<input type="text" placeholder="First name" name="firstName" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label">Last name</label>
										<div class="col-lg-7">
											<input type="text" placeholder="Last name" name="lastName" class="form-control">
										</div>
									</div>
								</div>
	
								<!--Third tab-->
								<div id="demo-bv-tab3" class="tab-pane">
									<div class="form-group">
										<label class="col-lg-3 control-label">Phone Number</label>
										<div class="col-lg-7">
											<input type="text" placeholder="Phone number" name="phoneNumber" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 control-label">Address</label>
										<div class="col-lg-7">
											<input type="text" placeholder="Phone number" name="address" class="form-control">
										</div>
									</div>
								</div>
	
								<!--Fourth tab-->
								<div id="demo-bv-tab4" class="tab-pane  mar-btm text-center">
									<h4>Thank you</h4>
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
								</div>
							</div>
						</div>
	
						<!--Footer button-->
						<div class="panel-footer text-right">
							<div class="box-inline">
								<button type="button" class="previous btn btn-primary">Previous</button>
								<button type="button" class="next btn btn-primary">Next</button>
								<button type="button" class="finish btn btn-warning" disabled>Finish</button>
							</div>
						</div>
					</form>
				</div>
				<!--===================================================-->
				<!-- End Form wizard with Validation -->
	
			</div>
		</div>

		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Input Form</h3>
				</div>
	
				<!--Horizontal Form-->
				<!--===================================================-->
				<form class="form-horizontal">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-3 control-label">Course Name</label>
							<div class="col-sm-4">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Course Explanation</label>
							<div class="col-sm-6">
								<textarea rows="5" class="form-control"></textarea> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Course Type</label>
							<div class="col-sm-4">
								<select class="selectpicker">
									<option>optional</option>
									<option>hirarchy</option>
									<option>required</option>
								</select> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Start Date</label>
							<div class="col-sm-4">
								<div class="input-group date">
									<input type="text" class="form-control">
									<span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">End Date</label>
							<div class="col-sm-4">
								<div class="input-group date">
									<input type="text" class="form-control">
									<span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Quota</label>
							<div class="col-sm-4">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Group Course</label>
							<div class="col-sm-4">
								<select class="selectpicker">
									<option>optional</option>
									<option>hirarchy</option>
									<option>required</option>
								</select> 
							</div>
						</div>
						
					</div>
					<div class="panel-footer text-right">
						<button class="btn btn-info" type="submit">Save</button>
					</div>
				</form>
				<!--===================================================-->
				<!--End Horizontal Form-->
	
			</div>
		</div>
	</div>


	
	
</div>
<!--===================================================-->
<!--End page content-->

