
<section class="callaction">
	<div class="container">
    <div class="row" >
      <div class="col-md-10 col-md-offset-1">
        <div class="row" style="background-color:#E9F1F4;border:1px solid #FFD7D7;border-radius:10px 10px 0px 0px;padding-bottom:10px">
      <div class="col-md-12" style="background-color:#829AA8;color:#FFFFFF;margin-bottom:20px;padding:15px;border-radius:10px 10px 0px 0px">
        HASIL
      </div>
            <div class="col-md-4 nilai" style="background-image:linear-gradient(#fffff5, #f5f3b4);border:2px solid #E3E3E3;">

                <div align="center">

                  <div style="padding-top:70px;padding-bottom:50px;">
                   <span style="font-size:90px">{$correct}</span>
                 </div>
                   <h5>Benar</h5>
                </div>
            </div>
             <div class="col-md-4 nilai" style="background-image:linear-gradient(#fffff5, #f5f3b4);border:2px solid #E3E3E3;">
                <div align="center">

                  <div style="padding-top:70px;padding-bottom:50px;">
                   <span style="font-size:90px">{$wrong}</span>
                 </div>
                   <h5>Salah</h5>
                </div>
            </div>
             <div class="col-md-4 nilai" style="background-image:linear-gradient(#fffff5, #f5f3b4);border:2px solid #E3E3E3;">
                 <div  align="center">

                  <div style="padding-top:70px;padding-bottom:50px;">
                   <span style="font-size:90px">{floor(($correct/($correct+$wrong))*100)}</span>
                 </div>
                   <h5>Nilai</h5>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" >
      <form method="post" action="">
      Testimoni : <textarea name="testimoni"></textarea>
      <input type="hidden" name="idNilai" value="{$nilai.idNilai}">
      <input type="hidden" name="idUser" value="{$nilai.idUser}">
      <input type="submit" name="submit" value="Submit">
      </form>
    </div>
		<!-- <div class="row">
			<div class="col-md-8" style="background-color:#AF0096">
				<div class="row">
					<div class="col-md-1" style="padding-top:20px">
						<div style="color:#FFFFFF;background-color:#73496E;padding:10px">
							<i class="fa fa-file-text fa-3"></i>
						</div>
					</div>
					<div class="col-md-10"  style="color:#FFFFFF">
						<h1  style="color:#FFFFFF">Hasil Quiz anda</h1>
						
						<h3>Benar : {$correct}</h3>
						<h3>Salah : {$wrong}</h3>
						
					</div>
				</div>
			</div>
			<div class="col-md-3" align="center" style="color:#FFFFFF;background-color:#D3D3D3;padding-top:10px;margin-left:5px;border-radius:5px;">
				<img src="{$basedomain}assets/img/data/iconslide.JPG"/><br/><br/>
				

			</div>
			<div class="col-md-4"> -->
			<!-- 	<img src="{$basedomain}assets/img/data/waktukuis.JPG"/>
				<h2><div id="countdown"></div></h2>
			</div> -->
<!-- 
		</div>
	</div> -->
</div>
	</section>
	